@charset "utf-8";

/*reset*/
div,form,p,h3,tr,td{margin:0;padding:0;}
body{font:normal 15px/1.5em Arial,sans-serif;color:#333333;background-color:#ea5f1c;}

/*wrap*/
#wrap{
    background:url(../images/back.png) no-repeat center;
    background-size:cover;
    width:1000px;height:500px;
    margin:150px auto;
    padding-top: 50px;
}
#login{
    width:410px;height:410px;
    background-color:white;
    margin:0 auto;
    padding-bottom:80px;
    border-radius: 50%;
    margin-top:15px;
}
#login img{
	text-align:center;
	margin:70px auto 5px auto;
}
#id_input,#pwd_input{
	width:220px;height:40px;
	text-indent: 5px;
	border-radius:10px;
	border:1px solid gray;
	margin-bottom:5px;
}
#pwd_input{
	margin-bottom:20px;
}
#buttons input{
	width:225px;height:45px;
	border:none;
	background-color:#333333;
	color:white;
	border-radius:10px;
	cursor:pointer;
	margin-left:8px;
	margin-bottom:5px;
}
#buttons input:hover{background-color:#ea5f1c;}
#buttons a{
	display:block;
	cursor:pointer;
	font-size:13px;
}
#buttons a:hover{text-decoration:underline;}










