@charset "utf-8";

/*reset*/
div,form,p,h3,tr,td{margin:0;padding:0;}
body{font:normal 15px/1.5em Arial,sans-serif;color:#333333;background-color:#ea5f1c;}

div{
	text-align:center;
	margin:200px auto;
    width:410px;height:410px;
    background-color:white;
    border-radius: 50%;
}
#img_id img{
	width:350px; height:100px;
	margin-top:130px;
}
#login_btn{
	color:black;
	display:block;
	text-decoration:none;
	font-size:15px;
	font-weight:bold;
}
#login_btn:hover{color:#ea5f1c;font-weight:bold;text-decoration:underline;}
