@charset "UTF-8";
/*달력*/
.calendar{
    font-family: 'Nanum Gothic', sans-serif;
    width:498px;height:30px;
    margin-top:20px;
    margin-left:15px;
	box-shadow:1px 1px 2px 1px #cccccc; 
    display:inline;
    border:1px solid #cccccc;
}
.today{
    flex: 0.25;
    text-align: center;
    line-height: 22px;
    font-size: 16px;
    color: steelblue;
}
.day_list{
    flex: 1;

    margin-left: 10px;
    margin-top: 2px;
    line-height: 20px;
    font-size: 13px;

    color: black;
}
/*다이어리*/
.diary{
    position: absolute;
    top: 80px;
    bottom: 15px;
    left: 5px;
    right: 5px;

    overflow: auto;
}
.diary_contents{
    margin: 10px;
    border: 1px solid silver;
}
.diary_date{
    color: steelblue;

    margin-left: 20px;
    margin-top: 10px;

    font-size: 13px;
    font-family: 'Nanum Gothic', sans-serif;
}
.diary_text{
    color: black;
    text-align: center;
    line-height: 25px;
    font-size: 18px;
    font-family: 'Gamja Flower', cursive;
    margin-top: 20px;
    margin-bottom: 20px;
}
#button{
    margin-left: 170px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 0;
    font-size: 19px;
    color: white;
    background-color: white;
    font-family: 'Gamja Flower', cursive;
}
#button:hover{
    color:black;
    background-color: whitesmoke;
    border: 1px solid silver;
    border-radius: 3px;
}
#hidden{
    display: none;
}
#btn{
	background-color:white;
	cursor:pointer;
	margin-top:10px;
	color:#333333;
 	border:1px solid #cccccc;
 	box-shadow:1px 1px 2px 1px #cccccc; 
}
.update_btn{padding-right:5px;border:1px solid gray;}
#delete_btn{
	border:none;
	cursor:pointer;
	background-color:white;
	border:1px solid #cccccc;
	border-radius:5px;
	color:#333333;
}
#date_btn{
	margin-left:150px;
	margin-top:9px;
	width:150px;
	text-indent:18px;
	border-color:#cccccc;
	float:left;
	cursor:pointer;
}
#search_btn{
	float:left;
	margin-top:9px;
	margin-left:10px;
	cursor:pointer;
	background-color:white;
	color:#333333;
 	border:1px solid #cccccc;
 	box-shadow:1px 1px 2px 1px #cccccc; 
}
.write_btn{float:left;cursor:pointer;}
#reply_btn{
	background-color:white;
	cursor:pointer;
	color:#333333;
 	border:1px solid #cccccc;
 	box-shadow:1px 1px 2px 1px #cccccc; 
 	margin-bottom:10px;
}
#reply_content{border:1px solid #cccccc;}